<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
	xmlns:simple="http://cxf.apache.org/simple"
	xmlns:soap="http://cxf.apache.org/bindings/soap" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.1.xsd 
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd 
http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd 
http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd 
http://cxf.apache.org/bindings/soap 
http://cxf.apache.org/schemas/configuration/soap.xsd 
http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<import resource="classpath:META-INF/cxf/cxf.xml" />	
	
	<jaxws:endpoint implementor="#cardFraudulentService"
		address="/CardFraudulentService"  wsdlLocation="wsdl/services/CardFraudulent.wsdl">
		<jaxws:binding>
			<soap:soapBinding style="document" use="literal" version="1.1" />
		</jaxws:binding>
		
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
		</jaxws:inInterceptors>
		
		<jaxws:outInterceptors> 
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
		</jaxws:outInterceptors>
		
	</jaxws:endpoint>
	
	<jaxws:endpoint implementor="#cardFraudulentService"
		address="/CardFraudulentServiceV2"  wsdlLocation="wsdl/services/CardFraudulentV2.wsdl">
		<jaxws:binding>
			<soap:soapBinding style="document" use="literal" version="1.1" />
		</jaxws:binding>
		
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
		</jaxws:inInterceptors>
		
		<jaxws:outInterceptors> 
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
		</jaxws:outInterceptors>
		
		<jaxws:properties>
        	 <entry key="ws-security.callback-handler" value-ref="myPasswordCallback"/>
      	</jaxws:properties> 
		
	</jaxws:endpoint>
	
		<jaxws:endpoint implementor="#cardFraudulentService"
		address="/CardFraudulentServiceV3"  wsdlLocation="wsdl/services/CardFraudulentV3.wsdl">
		<jaxws:binding>
			<soap:soapBinding style="document" use="literal" version="1.1" />
		</jaxws:binding>
		
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
		</jaxws:inInterceptors>
		
		<jaxws:outInterceptors> 
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
		</jaxws:outInterceptors>
		
	  <jaxws:properties>
	      <entry key="ws-security.signature.properties" value-ref="keystoreProperties"/>
	      <entry key="ws-security.encryption.properties" value-ref="keystoreProperties"/>
	      <entry key="ws-security.signature.username" value="serverkey"/>
	      <entry key="ws-security.encryption.username" value="useReqSigCert"/>
	      <entry key="ws-security.callback-handler"
	          value="com.aes.service.accounts.security.ServerCallback"/>
	      <entry key="schema-validation-enabled" value="true" />
		 <entry key="ws-security.is-bsp-compliant" value="false"/>
	    </jaxws:properties>
		
	</jaxws:endpoint>
	
	
	 <bean id="myPasswordCallback" class="com.aes.service.accounts.security.ServerPasswordCallback" />
	
	 <!-- 
	<bean id="keystorePasswordCallback" class="org.wtf.interoperability.ws.security.KeystorePasswordCallback">
		<property name="passwords">
			<map>
				<entry key="${wss.keyAlias}" value="${wss.keyPassword}"/>
			</map>
		</property>
	</bean>-->

<!-- 
	<util:properties id="keystoreProperties">
		<prop key="org.apache.ws.security.crypto.provider">org.apache.ws.security.components.crypto.Merlin</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.type">jks</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.password">nosecret</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.alias">serverkey</prop>
		<prop key="org.apache.ws.security.crypto.merlin.file">E:/java/git/jbossews/src/main/resources/server.keystore</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.file">E:/java/git/jbossews/src/main/resources/server.keystore</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.password">nosecret</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.type">jks</prop>
	</util:properties>
	 -->
	 <!-- 
	 <util:properties id="keystoreProperties">
		<prop key="org.apache.ws.security.crypto.provider">org.apache.ws.security.components.crypto.Merlin</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.type">jks</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.password">nosecret</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.alias">serverkey</prop>
		<prop key="org.apache.ws.security.crypto.merlin.file">/var/lib/openshift/536f990fe0b8cdfb690002b7/app-root/runtime/repo/server.keystore</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.file">/var/lib/openshift/536f990fe0b8cdfb690002b7/app-root/runtime/repo/server.keystore</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.password">nosecret</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.type">jks</prop>
	</util:properties>
	-->
	
	 <util:properties id="keystoreProperties">
		<prop key="org.apache.ws.security.crypto.provider">org.apache.ws.security.components.crypto.Merlin</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.type">jks</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.password">nosecret</prop>
		<prop key="org.apache.ws.security.crypto.merlin.keystore.alias">serverkey</prop>
		<prop key="org.apache.ws.security.crypto.merlin.file">E:/java/git/jbossews/server.keystore</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.file">E:/java/git/jbossews/server.keystore</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.password">nosecret</prop>
		<prop key="org.apache.ws.security.crypto.merlin.truststore.type">jks</prop>
	</util:properties>
	
	
		 <!-- 
	<jaxws:endpoint implementor="#sampleService"
		address="/SampleService">
		<jaxws:binding>
			<soap:soapBinding style="document" use="literal" version="1.2" />
		</jaxws:binding>
	</jaxws:endpoint>
	
	<jaxws:endpoint id="tutorialWebService"  implementor="#TutorialWebService"
		implementorClass="org.wtf.interoperability.ws.TutorialWebServiceImpl"
		address="/TutorialWebService" wsdlLocation="wsdl/TutorialService.wsdl">

		<jaxws:properties>
			<entry key="ws-security.callback-handler" value-ref="keystorePasswordCallback"/>
			<entry key="ws-security.encryption.properties" value-ref="keystoreProperties"/>
			<entry key="ws-security.signature.properties" value-ref="keystoreProperties"/>
			<entry key="ws-security.encryption.username" value="useReqSigCert"/>
			<entry key="schema-validation-enabled" value="true" />
			<entry key="ws-security.is-bsp-compliant" value="false"/>
		</jaxws:properties>

		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
		</jaxws:inInterceptors>
		
		<jaxws:outInterceptors> 
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
		</jaxws:outInterceptors>
	</jaxws:endpoint>
	
	 -->
	
</beans>